$scissorsGradient: hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100%;
$paperGradient: hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 100%;
$rockGradient: hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 100%;

// Neutral
$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);

// Background
$radial1 :hsl(214, 47%, 23%);
$radial2: hsl(237, 49%, 15%);
