.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 900px;
  margin: 0 auto;
  margin-top: 60px;

  @media only screen and (max-width: 900px) {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .player-choice,
  .computer-choice,
  .results-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media only screen and (max-width: 600px) {
      width: 50%;
      justify-content: unset;
      overflow: hidden;
      min-height: 300px;
    }
  }

  .results-text {
    @media only screen and (max-width: 600px) {
      position: absolute;
      top: 300px;
      width: 100%;
      margin: 0 auto;
      min-height: unset;
    }
  }

  p {
    margin-bottom: 50px;
  }

  .text-win {
    font-size: 44px;
    @media only screen and (max-width: 600px) {
      font-size: 22px;
    }
  }

  .play-again {
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 15px 30px;
    color: $darkText;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
      padding: 15px;
    }

    &:hover {
      color: hsl(349, 71%, 52%);
      box-shadow: 0 -2px 1px 4px inset rgba(0, 0, 0, 0.1);
    }
  }

  .empty {
    background-color: $radial2;
    width: 180px;
    height: 180px;
    border-radius: 100%;

    @media only screen and (max-width: 600px) {
      width: 140px;
      height: 140px;
    }
  }

  //fix
  .choice {
    position: relative;

    &-rock,
    &-scissors,
    &-paper {
      top: unset;
      left: unset;
      right: unset;
      bottom: unset;
      cursor: unset;
    }
  }

  .computer-choice {
    .choice {
      position: absolute;
      top: 70px;
    }
  }

  .choice-in.winner {
    &:after {
      content: "";
      position: absolute;
      width: 500px;
      height: 500px;
      border-radius: 100%;
      animation: example 1s infinite;
      animation-delay: 1.2s;
      background-image: radial-gradient(
        circle,
        hsla(214, 47%, 23%, 0.8) 0%,
        hsla(214, 47%, 23%, 0.8) 44%,
        hsla(214, 47%, 23%, 0.4) 44%,
        hsla(214, 47%, 23%, 0.4) 60%,
        hsla(214, 47%, 23%, 0.2) 60%,
        hsla(214, 47%, 23%, 0.2) 100%
      );
      z-index: -5;

      @media only screen and (max-width: 600px) {
        width: 300px;
        height: 300px;
      }
    }
  }

  @keyframes example {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}
